.cocktails {
    max-width: 80rem;
    width: 80%;
    margin: 2rem auto;
    animation: cocktails-appear 1s ease-out forwards;
  }

  .button {
    cursor: pointer !important;
    border-radius: 15px !important;
    font-weight: bold !important;
    padding: 8px !important;
    background-color: #4d1601 !important;
    color: #ffffff !important;
  }
  
  .button:hover {
    background-color: #e8b899 !important;
  }

  .buttonHeader {
    margin: 12px;
  }

  @keyframes cocktails-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }